# This requirement file is intended for utilizing a GPU for VAP processing. Please install the GPU version of PyTorch.
# The following assumes that you have CUDA 11.8.
# For more information, visit: https://pytorch.org/get-started/locally/

# For VAP main
torch==2.2.0+cu118
numpy==1.23.5
einops==0.7.0

# For Input
soundfile==0.12.1
pygame
pydub==0.25.1
pyaudio

# If you are installing this repository in a Linux environment, such as Ubuntu,
# you may need to install portaudio using the following command:
# $ sudo apt-get install portaudio19-dev

# For Output
matplotlib==3.7.5
seaborn==0.13.2
fastapi==0.111.0