# This requirement file is intended for utilizing a GPU for VAP processing. Please install the GPU version of PyTorch.
# The following assumes that you have CUDA 11.8.
# For more information, visit: https://pytorch.org/get-started/locally/

# For VAP main
torch==2.3.0+cu118
numpy==1.23.5
einops==0.7.0
torchaudio==2.3.0
pytorch-lightning